@font-face {
  font-family: 'Futura';
  src: url(fonts/Futura\ Book.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'FuturaBold';
  src: url(fonts/Futura\ Bold.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'FuturaBoldItalic';
  src: url(fonts/Futura\ Bold\ Italic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Futura';
  color: black;
}

html {
  scroll-behavior: smooth;
  font-family: 'Futura';
}

nav {
  height: 80px;
  background-image: linear-gradient(90deg, #1676F9, #033FAD);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  z-index: 999;
  width: 100%;

}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  transition: 0.75s ease-in-out;

}

nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;

  transition: 0.2 ease-in-out;
}
.home-link{
  font-weight: bold;
  font-size: 1.5rem;
}

nav a:hover {
  background-color: #afafaf49;
  transition: 0.2 ease-in-out;
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: white
}

#sidebar-active {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  display: none;
}


#backtotop{
  background-color: #1676F9;
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  font-size: 20px;
  color: white;
  padding: 15px;
  border-radius: 0px;
  border: none;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  align-content: center;

  transition: .3s ease-in-out;
}

#backtotop:hover {
  background-color: #0D4693;
  transform: scale(1.1);
  border-radius: 100px
}

#backtotop:active{
  background-color: #1676F9;
}

/* Navbar Responsive */
@media(max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .links-container {
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-image: linear-gradient(180deg, #1676F9, #033FAD);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-in-out;
  }
  nav a {
   
    height: auto;
    width: 100%;
    padding: 20px 0px;
    justify-content: flex-start;
  }
  nav a:hover{
    border: none;
  }

  .open-sidebar-button {
    position: sticky;
  }

  .open-sidebar-button, .close-sidebar-button {
    display: block;
    padding: 20px;
  }

  #sidebar-active:checked ~ .links-container{
    right: 0;
  }

  #sidebar-active:checked ~ #overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9;
  }
  
}

/* Home Section */
.Home {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

section {
  padding: 100px 200px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #506199;
}

.home:before {
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(4, 35, 60, 0.647);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .home-content {
  z-index: 888;
  color: #fff;
  width: 100%;
  margin-top: 50px;
}

.home .home-content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  font-family: "Futura";
}

.home .home-content h1 span {
  font-size: 1.2em;
  font-weight: 600;
  background-color: #000;
  font-family: "Futura";
}

.home .home-content h4 {
  font-family: "Futura";
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 300;
}

.home .home-content a {
  font-family: "Futura";
  background: #fff;
  padding: 13px 30px;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

/* Responsive */
@media (max-width: 1040px) {

  header {
    padding: 12px 20px;
  }

  section {
    padding: 100px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1em;
    margin: 15px;
  }

  header .navigation .navigation-items a:before {
    background-color: #222;
    height: 3px;
  }

  header .navigation.active .navigation-items {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn {
    background: url(images/menu.png) no-repeat;
    background-size: 20px;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active {
    z-index: 999;
    background: url(images/close.png) no-repeat;
    background-size: 20px;
    background-position: center;
    transition: 0.3s ease;
  }

}

/* Home Section End */

/* About Section */
.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  /*background-color: #8a8282;*/
  background-color: lightgray;
}

.about-heading h1 {
  color: #330877;
  font-size: 55px;
  text-align: center;
  margin-top: 5px;
}

.about-head p {
  text-align: justify;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 65px auto;

}

.about-content {
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation: fadeInUp 2s ease;

}

.about-content h2 {
  font-family: "Futura";
  font-size: 50px;
  margin-bottom: 20px;
  color: black;
  background-color: blue;
}

.about-content p {
  font-family: "Futura";
  font-size: 1.1em;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 40px;
  color: black;
}

.about-content h3 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-image {
  flex: 1;
  width: 600px;
  margin: auto;
  animation: fadeInRight 2s ease
}

.about img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


/* About - Responsiveness*/
@media screen and (max-width: 800px) {
  .about-heading h1 {
    font-size: 45px;
    margin-top: 30px;
  }

  .about {
    margin: 0px;
  }

  .about-container {
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;
  }

  .about-content {
    width: 100%;
    margin: 35px 0px;
  }

  .about-content h2 {
    font-size: 30px;
  }

  .about-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .about-image {
    width: 100%;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* About Section End */


/* ConferenceFees Section */
.ConferenceFees {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: lightblue;

  flex-direction: column;
  gap: 40px
}
#ConferenceFees > h2{
  font-size: 3rem;
  text-transform: uppercase;
}

.box-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  
}


.box {
  box-shadow: 0 0 2px gray;

  background-color: #1676F9;
  backdrop-filter: blur(20px);
  


  padding: 40px;
  border-radius: 0px;
  max-width: 500px;
  max-height: 300px;
  height: 300px;

  transition: .2s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box *{
  margin: 10px;
}

.box>h3 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.box>h2 {
  font-size: 1.5rem;
  color: white;
}
.box > p{
  color: white;
  text-align: justify;
}

.box:hover {
  transform: scale(1.2);  
  background-image: linear-gradient( 120deg,
  #1676F9, #8c00ff);
  border: 3px solid white;
  z-index:2
}

.box:active {
  transform: scale(1);
  background-color: gray;
}



/* ConferenceFees End */


/* ResearchCategory */
.ResearchCategory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;


  /* TempColor */
  background-color: aquamarine;
}

.research {
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
  background-color: #8eb1c7;
}  
.extension {
  width: 100%;
  min-height: 100vh;
  padding: 40px 0;
  background-color: #7fb2a9;
}

.blog-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: 20px auto;
  padding-top: 5px;

}


.blog-section .title {
  width: 60%;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 25px auto;
}

.card {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

.cards .card {
  width: 100%;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}

.image-section img {
  width: 100%;
  height: auto;
}

.contact-content {
  padding: 15px 20px;
}

.contact-content h4 {
  font-family: 'Futura';
  font-size: 24px;
  color: #087762;
  font-weight: 500;
}

.contact-content p {
  text-align: justify;
  font-size: 20px;
  font-family: 'Futura';
  font-weight: 500;
}

.card .posted-date {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #ebe8df;
  padding: 6px 15px;
}

.posted-date p {
  font-family: 'Futura';
}

/* ResearchCategory End */


/* ExtensionCategory */
.ExtensionCategory {
  display: flex;
  min-height: 100vh;
justify-content: center;
flex-direction: column;



    /* TempColor */
    background-color: aliceblue;
}
.extensionheader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;


}
.Extension-Content > li{
  list-style-type: none;
}
.Sub-Title{
  font-size: 2rem;
  font-weight: bold;
}
.Extension-Group{
  font-size: 1.2rem;
  font-weight: bold;
}
ul li{
  list-style-type: none;
}
.Abstract-Submission-Bar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  background-color: blue;
  color: white;
  font-weight: bold;
  width: 100%;
  margin: 20px 0px;
}
.QR-CODE{
  background-image: url(img/QRCODE.png);
  height: 600px;
  width: 600px;
  background-size: contain;


  margin: auto;
}




/*
.card {
  width: calc(50% - 20px);
  margin-bottom: 20px;
}

.cards .card {
  width: 100%;
  position: relative;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
}

.image-section img {
  width: 100%;
  height: auto;
}

.content {
  padding: 15px 20px;
}

.content h4 {
  font-family: 'Futura';
  font-size: 24px;
  color: #087762;
  font-weight: 500;
}

.content p {
  
  text-align: justify;
  font-size: 20px;
  font-family: 'Futura';
  font-weight: 500;
}

.card .posted-date {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: #ebe8df;
  padding: 6px 15px;
}

.posted-date p {
  font-family: 'Futura';
}

.exheader {
  display: flex;
  justify-content: center;

}

.exheadersub {
  display: flex;
  justify-content: center;
}
*/

/* ExtensionCategory End */


/* CollaboratingOrganizations */
.CollaboratingOrganizations {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  /* TempColor */
  background-color: antiquewhite;
}

.collabheader {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.CollabOrg {
  font-size: 50px;
}

.collabicons {
  max-width: 800px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.collab {
  width: 100%; 
  max-width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  position: relative;

}

.collab img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: center;
  display: block;

}

.collab:hover {
  box-shadow: 0px 0px 20px rgb(93, 103, 240);
}

/* CollaboratingOrganizations End */


/* E-Poster */
.E-Poster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  /* TempColor */
  background-color: lightpink;
}

.posterheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*
.EPoster {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: 'Futura';
  text-align: center;
}

.EPosterSub {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Futura';
  align-items: center;
  text-align: center;
}
*/

.eposter-content li ul li{
  list-style-type: disc;
  font-size: 1rem;
  line-height: 1%; /*space ng bullets sa Layout*/
}


/* E-Poster End */

/* Footer */
footer {
  color: white;
  position: relative;
  width: 100%;
  background-image: linear-gradient(90deg, #1676F9, #0D4693);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
ul li{
  
  font-size: 20px;
  list-style: none;
  padding: 15px;
}

footer p {
  font-family: 'Futura';
  color: white;
  margin-bottom: 30px;
  font-size: 20px;
  text-align: center;
}

footer ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    text-wrap: wrap;
    
}


/* Footer End */