@font-face {
    font-family: 'Futura';
    src: url(fonts/Futura\ Book.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'FuturaBold';
    src: url(fonts/Futura\ Bold.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'FuturaBoldItalic';
    src: url(fonts/Futura\ Bold\ Italic.ttf) format('truetype');
    font-weight: 700;
    font-style: italic;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Futura';
}


#About-Section,
#URSVision-Section,
#Conference-Fees-Section,
#Research-Category-Section,
#Extension-Category-Section,
#Collaborating-Organizations-Section,
#E-Poster-Section {
    min-height: 100vh;
    padding: 100px 0px;
}

footer {
    padding: 40px 0px;
}

section div,
footer div {
    border: 1px solid none;
}

section,
footer {
    width: 100vw;
    background-color: gray;
}

.section-title {
    font-size: 2rem;
}

.section-secondary-title {
    font-size: 1.5rem;
}

.content .sub-title {
    font-size: 2rem;
}

.section-title,
.section-secondary-title,
.sub-title {
    text-transform: uppercase;
}

/*About sub-titles*/
.sub-title:nth-child(2),
.sub-title:nth-child(4) {
    text-transform: none;
}


/*colors/backgrounds*/
#Home-Section {
    /* Vid BG */
}

#URSVision-Section {
    background-image: linear-gradient(#89c2d9 1px, transparent 1px), linear-gradient(to right, #89c2d9 1px, transparent 1px);
    background-size: 69px 69px;
    background-color: #2F847C;
}

#About-Section {
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(rgb(114, 145, 155) 2px, #8FBC8F 2px);
    background-size: 40px 40px;
}

#Conference-Fees-Section {
    background-image: repeating-linear-gradient(to right, #a4caf3, #a4caf3 1px, transparent 1px, transparent);
    background-size: 90px 90px;
    background-color: #f2f3f4;
}

#Research-Category-Section {
    background: radial-gradient(circle, transparent 20%, #7cbfbf 20%, #7cbfbf 80%, transparent 80%, transparent) 0% 0% / 180px 180px, radial-gradient(circle, transparent 20%, #7cbfbf 20%, #7cbfbf 80%, transparent 80%, transparent) 90px 90px / 180px 180px, linear-gradient(#5d5d5d 1px, transparent 1px) 0px -0.5px / 90px 90px, linear-gradient(90deg, #5d5d5d 1px, #7cbfbf 1px) -0.5px 0px / 90px 90px #7cbfbf;
    background-size: 180px 180px, 180px 180px, 90px 90px, 90px 90px;
    background-color: #7cbfbf;
}

#Extension-Category-Section {
    background: radial-gradient(circle, transparent 20%, #77aebd 20%, #77aebd 80%, transparent 80%, transparent) 0% 0% / 180px 180px, radial-gradient(circle, transparent 20%, #77aebd 20%, #77aebd 80%, transparent 80%, transparent) 90px 90px / 180px 180px, linear-gradient(#5d5d5d 1px, transparent 1px) 0px -0.5px / 90px 90px, linear-gradient(90deg, #5d5d5d 1px, #77aebd 1px) -0.5px 0px / 90px 90px #77aebd;
    background-size: 180px 180px, 180px 180px, 90px 90px, 90px 90px;
    background-color: #77aebd;
}

#E-Poster-Section {
    background:
    radial-gradient(circle farthest-side at 0% 50%,#2b556b 23.5%,#0000 0)58.8px 84px,
    radial-gradient(circle farthest-side at 0% 50%,#215a76 24%,#0000 0)53.2px 84px,
    linear-gradient(#2b556b 14%,#0000 0, #0000 85%,#2b556b 0)0 0,
    linear-gradient(150deg,#2b556b 24%,#215a76 0,#215a76 26%,#0000 0,#0000 74%,#215a76 0,#215a76 76%,#2b556b 0)0 0,
    linear-gradient(30deg,#2b556b 24%,#215a76 0,#215a76 26%,#0000 0,#0000 74%,#215a76 0,#215a76 76%,#2b556b 0)0 0,
    linear-gradient(90deg,#215a76 2%,#2b556b 0,#2b556b 98%,#215a76 0%)0 0 #2b556b;
background-size: 112px 168px;
background-color: #2b556b;

}

#Collaborating-Organizations-Section {
    background: linear-gradient(135deg, #5588a6 25%, transparent 25%) -56px 0, linear-gradient(225deg, #5588a6 25%, transparent 25%) -56px 0, linear-gradient(315deg, #5588a6 25%, transparent 25%), linear-gradient(45deg, #5588a6 25%, transparent 25%);
    background-size: 112px 112px;
    background-color: #537e97;
}

footer {
    background-color: #09265c;
}


/*font sizes*/
.section-title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.sub-title {
    font-size: 1.5rem;
    text-align: center;
}

p,
li {
    font-size: 1.2rem;

}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
}

.title-vision {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: rgb(240, 255, 220);
}

.content-vision {
    text-align: center;
    font: 3rem;
}

.content-mission p, .content-vision p, .corevalues-content li, .qualitypolicy-content p {
    font-size: 30px;
}


.title-mission {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: rgb(240, 255, 220);
}

.content-mission {
    text-align: center;
    font-size: 3rem;
}

.core-values {
    font-weight: bold;
    color: rgb(240, 255, 220);
    text-align: center;
    font: 4rem;
    text-transform: uppercase;
}

.corevalues-content {
    text-align: center;
    font-size: 20px;
}

.qualitypolicy {
    text-align: center;
    font: 4rem;
    font-weight: bold;
    color: rgb(240, 255, 220);
    text-transform: uppercase;
}

/*Nav bar*/
#sidebar-active,
.open-sidebar,
.close-sidebar {
    display: none;
}

nav label {
    z-index: 997;
}

#sidebar-active:checked~#overlay {
    background: transparent;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

nav .links-container {
    position: fixed;
    top: 0;
    z-index: 999;

    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 40px;

    background-color: #0b4597;
    border-bottom:solid 1px white;
    /*
    backdrop-filter: blur(20px);
    background-image: linear-gradient(120deg,
    rgb(22, 118, 249, 0.5),
    rgb(3, 63, 173, 0.5));
    */

}

nav .links-container a:nth-child(2) {
    margin-right: auto;
    font-weight: bold;
    transform: scale(1.5);
}

nav .links-container img {
    width: 40px;
}

nav .links-container a:nth-child(2):hover {
    background-color: transparent;
}

nav .links-container a {
    padding: 20px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.1rem;

    transition: .5s ease-in-out;
}

nav a:hover {
    background-color: #02225e;
    color: rgb(69, 223, 171);
}

.up-button {
    position: fixed;
    z-index: 998;
    right: 40px;
    bottom: 30px;
}

.up-button button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: none;
    transition: .1s ease-in-out;

    background-color: #1676F9;
    color: white;
}

.up-button button div {
    animation: updown 1s ease-in-out infinite;
}

.up-button button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.up-button button:active {
    transform: translateY(-3px);
}

@keyframes updown {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(10px);
    }
}

/*Home*/
#Home-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#1676f9, #8c00ff);
    margin-top: 60px;

}
video {
    top: 0;
    left: 0;


    width: 100%;
    height: 100%;
    opacity: .5;
}
.Home-Logo{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Home-Logo img{
    position: absolute;
    width: 80%;
}


label{
    cursor: pointer;
}

/* pasabi kung ililipat ko tong media */
@media (min-aspect-ratio:16/9) {
    .bgvid {
        width: 100%;
        height: auto;
    }
}

@media (min-aspect-ratio:16/9) {
    .bgvid {
        width: auto;
        height: 100%;
    }
}

/*Vision & Mission*/

#URSVision-Section {
    color: white;
}

.urslogo {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.title-mission {
    padding-top: 50px;
}

.core-values {
    padding-top: 50px;
    font-size: 50px;
}

.urssection {
    border-color: solid 2px black;
    margin: 16px;
}

.content-vision {
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    text-align: center;
}

.content-mission {
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    text-align: center;
}

.qualitypolicy {
    margin: 16px;
    font-size: 50px;
    padding-top: 50px;
}

.qualitypolicy-content {
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
    justify-content: center;
    text-align: center;
}

/*About*/
#About-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #212421;
}

#About-Section .content {
    text-align: justify;
}

#About-Section .section-title {
    font-weight: bold;
    color: #425542;
}

#About-Section .content,
#About-Section .sub-title {
    margin: 0px 5%;
    background-color: rgba(179, 179, 179, 0.178);

}

#About-Section li {
    list-style-type: decimal;
}

#About-Section div {
    padding: 20px;
}




/*Conference Fees*/
#Conference-Fees-Section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.card-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    gap: 60px;
}

.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 10px;
    min-width: 500px;
    min-height: 300px;
    color: white;
    background-color: #1676F9;

    transition: .3s ease-in-out;
    border-radius: 20px;
}

.card * {
    text-align: justify;
    padding: 10px 40px;
}

.card:hover {
    transform: scale(1.1);
    background-image: linear-gradient(180deg, #1676F9, #8c00ff);
    border: 5px solid white;
    cursor: pointer;
}

.card:active {
    transform: scale(1);
}

#Conference-Fees-Section .section-title {
    color: black;
    font-weight: bold;
}

/*Research Category*/
#Research-Category-Section .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    color: white;
}

.titles-div,
#Collaborating-Organizations-Section>.section-title {
    display: grid;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Research-Category-Section .content {
    display: grid;
    align-items: start;
    margin: 60px 100px;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 20px;
}

#Research-Category-Section .content>div {
    margin: 20px 60px;
}

#Research-Category-Section .content>div>div:nth-child(1) {
    text-align: start;
    margin: 20px 0px;
}

#Research-Category-Section .content div .group li:first-child,
#Extension-Category-Section .content div .group li:first-child {
    font-weight: bold;
}

#Research-Category-Section .content div .group li,
#Extension-Category-Section .content div .group li,
.Paper-Presentation-Format-List li {

    list-style-type: none;
}

#Research-Category-Section p {
    text-align: justify;
}

.content .Abstract-Format li {
    list-style-type: decimal;

}

/*Extension Category*/
#Extension-Category-Section .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 20px;
}

.titles-div {
    display: grid;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#Extension-Category-Section .content {
    display: grid;
    align-items: start;
    margin: 60px 100px;
}

#Extension-Category-Section .content>div {
    margin: 20px 60px;
}

#Extension-Category-Section .content>div>div:nth-child(1) {
    text-align: start;
    margin: 20px 0px;
}

#Extension-Category-Section p {
    text-align: justify;
}

#Extension-Category-Section div .Paper-Presentation-Format-List {
    margin: 20px 0px;
}

.Abstract-Submission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
}

.submission-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    background-color: blue;
    text-transform: uppercase;
}

.qr-code {
    background-image: url(img/ABSTRACT_QRCODE.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 600px;
    height: 600px;
}




/*Collaborating Organization*/
#Collaborating-Organizations-Section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

#Collaborating-Organizations-Section .section-title,
.icons-container {
    grid-column: span 3;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    display: grid;
}

#Collaborating-Organizations-Section .section-title {
    font-weight: bold;
    color: rgb(168, 250, 250);
}

.icons-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.icons-container .icon {
    min-width: 200px;
    min-height: 200px;
    margin: auto;
    border-radius: 100px;
    grid-column: span 2;
}

.icons-container .last-two-icons {
    display: flex;
    grid-column: span 6;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 40px;
}

.icon {
    background-size: contain;
    transition: .3s ease-in-out;
}

.icon:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2px black;
    cursor: pointer;
}

.icons-container>.icon:nth-child(1) {
    background-image: url(img/PAASE.png);
}

.icons-container>.icon:nth-child(2) {
    background-image: url(img/PEMEA.png);
}

.icons-container>.icon:nth-child(3) {
    background-image: url(img/PhilEASNet.png);
}

.icons-container>.icon:nth-child(4) {
    background-image: url(img/FEASMF.png);
}

.icons-container>.icon:nth-child(5) {
    background-image: url(img/DOST.png);
}

.icons-container>.icon:nth-child(6) {
    background-image: url(img/DEPED.png);
}

.last-two-icons>.icon:nth-child(1) {
    background-image: url(img/FITS.png);
}

.last-two-icons>.icon:nth-child(2) {
    background-image: url(img/CHED.png);
}


/*E-Poster*/
#E-Poster-Section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: justify;

}

#E-Poster-Section .content {
    margin: 20px 200px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.034);
}

#E-Poster-Section .titles-div {
    margin: 40px;
}

#E-Poster-Section .content>li {
    list-style-type: decimal;
}

#E-Poster-Section .content>div {
    margin: 0px 40px;
}


/*footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

footer>div {
    display: flex;
    margin: 5px 0px;
}

footer li {
    list-style-type: none;
}
#Members-Popup{
    display: none;
}
#Members-Popup:checked ~ #Members-Popup-Overlay{
    display: flex;
}
#Members-Popup-Overlay{
    z-index: 998;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: transparent;
    background-image: linear-gradient(rgb(0, 0, 0,0.5), rgb(0, 0, 0,0.5));
    background-size: cover;


    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Members-List{
    z-index: 999;
    
    background-color: #09265c;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    border: 5px solid white;
    gap: 5px;

    margin: auto;


    animation: popup .2s ease-in-out forwards;
}
@keyframes popup {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
.Members-List li:first-child, .Members-List li:nth-child(3){
    font-size: 1.8rem;
    text-transform: uppercase;
}
.Members-List li:nth-child(3){
    margin-top: 20px;
}

.footer-social-links {
    display: flex;
    gap: 50px;

}

.footer-social-links a, .footer-social-links #Members-Icon img{
    width: 25px;
    height: 25px;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.footer-nav li {
    padding: 20px;
    color: white;
    transition: .5s ease-in-out;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    transition: .5s ease-in-out;
}

.footer-social-links a:hover, .footer-social-links #Members-Icon img:hover{
    transform: scale(1.5);
}

.footer-nav a li:hover,
.footer-nav a:hover {
    transform: translateY(-5px);
    color: rgb(69, 223, 171);
}


.footer-copyright {
    gap: 10px;
    color: white;
    justify-content: center;

}


.footer-copyright li {
    font-size: 1.5rem;
}

#About-Section .content,
#E-Poster-Section .content,
.footer-copyright {
    max-width: 90%;
    min-width: 90%;
}

#Research-Category-Section .content,
#Extension-Category-Section .content {
    margin: 20px 10%;
}



/*Responsive*/
@media (max-width: 1296px) {
    .footer-nav li {
        padding: 10px;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    nav .open-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        margin-left: auto;
        padding: 20px;
        padding-left: 100%;

        background-color: #09265c;
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
    }

}

@media (max-width: 1184px) {

    /*nav*/
    .open-sidebar,
    .close-sidebar {
        display: flex;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    nav .open-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        margin-left: auto;
        padding: 20px;
        padding-left: 100%;

        background-color: #09265c;
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
    }


    #sidebar-active {
        display: none;
    }

    #sidebar-active:checked~.links-container {
        left: 75%;
    }

    /*X*/
    .links-container .close-sidebar {
        margin-right: auto;
        padding: 20px 20px;
    }

    nav .links-container {
        position: fixed;
        top: 0;
        left: 0;

        transition: .5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0;
        margin: 0;

        left: 100%;

        width: 100%;
        height: 100vh;
        background-color: #09265c;
        box-shadow: -5px 0 5px rgba(0,0,0,0.25);
    }

    nav .links-container a:nth-child(2) {
        width: 0%;
    }

    nav .links-container a {
        width: 100%;

    }

    .card-container {
        flex-direction: column;
        max-width: 500px;
    }

    section div {
        grid-column: span 2;
    }

    #Research-Category-Section .content>div,
    #Extension-Category-Section .content>div {
        margin: 0px;
    }

    .last-two-icons {
        grid-column: span 2;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width:1076px) {
    .footer-nav li {
        font-size: 1rem;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 1153px) {
    .footer-nav li {

        padding: 10px;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 1012px) {
    .footer-nav {
        display: none;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    #sidebar-active:checked~.links-container {
        left: 70%;
    }


    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 920px) {

    .qr-code {
        max-width: 500px;
        max-height: 500px;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    #sidebar-active:checked~.links-container {
        left: 70%;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }

}

@media (max-width: 800px) {
    #sidebar-active:checked~.links-container {
        left: 60%;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 701px) {
    .qr-code {
        max-width: 400px;
        height: 400px;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 680px) {

    .footer-copyright li {
        font-size: 1.2rem;
    }


    .icons-container .icon {
        grid-column: span 3;
    }

    .qr-code {
        max-width: 300px;
        max-height: 300px;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}


@media (max-width: 535px) {
    footer .footer-copyright {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-copyright li:nth-child(2),
    footer .footer-copyright li:nth-child(4) {
        display: none;
    }


    .bgvid {
        height: 100%;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }

}

@media (max-width: 600px) {
    #sidebar-active:checked~.links-container {
        left: 50%;
    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 551px) {
    .submission-title {
        font-size: 1.5rem;
    }

    #Conference-Fees-Section .card-container {
        max-width: 400px;
        margin: 40px;
    }

    .card {
        min-width: 100%;

    }

    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 20px 20px 20px 20px;
    }

}


@media (max-width: 520px) {
    #sidebar-active:checked~.links-container {
        left: 40%;
    }

    
    .Members-List {
        padding: 20px 20px 20px 20px;
    }

    .content-mission p, .content-vision p, .corevalues-content li, .qualitypolicy-content p {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 10px;
    }
    
    .urslogo {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        size: 50px;
    }

    .urslogo img {
        width: 200px;
    }
    
    .title-mission {
        padding-top: 50px;
        font-size: 50px;
    }

    .title-vision, .core-values, .qualitypolicy {
        font-size: 50px;
    }
    
    .corevalues-content li{
        list-style-type: none;
        display: flex;
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .urssection {
        border-color: solid 2px black;
    }
    
    .content-vision {
        display: flex;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    
    .content-mission {
        display: flex;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    
    .qualitypolicy {
        margin: 16px;
        font-size: 50px;
        padding-top: 50px;
    }
    
    .qualitypolicy-content {
        display: flex;
        margin: auto;
        padding-bottom: 50px;
        justify-content: center;
        text-align: center;
    }
    
    #Research-Category-Section .content, #Extension-Category-Section .content {
        padding: 15px 15px 15px 15px;
    }
}

/*Mobile Resposive*/
@media (min-width: 320px) and (max-width: 426px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }

    body {
        overflow-x: hidden;
    }

    .links-container a img.navbarlogo {
        width: 150px;
    }

    .titles-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section-title {
        font-size: 2rem;
        text-align: center;
    }

    .section-secondary-title {
        font-size: 1.8rem;
    }

    section .content div>.sub-title {
        font-size: 1.5rem;
    }

    .content-mission p, .content-vision p, .corevalues-content li, .qualitypolicy-content p {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        text-align: center;
        margin: 10px;
    }
    
    .urslogo {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        size: 50px;
    }

    .urslogo img {
        width: 200px;
    }
    
    .title-mission {
        padding-top: 50px;
        font-size: 50px;
    }

    .title-vision, .core-values, .qualitypolicy {
        font-size: 50px;
    }
    
    .corevalues-content li{
        list-style-type: none;
        display: flex;
        margin: auto;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    
    .urssection {
        border-color: solid 2px black;
    }
    
    .content-vision {
        display: flex;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    
    .content-mission {
        display: flex;
        margin: auto;
        justify-content: center;
        text-align: center;
    }
    
    .qualitypolicy {
        margin: 16px;
        font-size: 50px;
        padding-top: 50px;
    }
    
    .qualitypolicy-content {
        display: flex;
        margin: auto;
        padding-bottom: 50px;
        justify-content: center;
        text-align: center;
    }

    .titles-div {
        padding-bottom: 20px;
    }

    #Collaborating-Organizations-Section .section-title {
        padding-bottom: 40px;
    }

    /*nav*/
    .open-sidebar,
    .close-sidebar {
        display: flex;
    }

    nav .open-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        margin-left: auto;
        padding: 20px;
        padding-left: 100%;

        background-color: #09265c;
        border-bottom: transparent;
    }


    #sidebar-active {
        display: none;
    }

    #sidebar-active:checked~.links-container {
        left: 20%;
    }

    /*X*/
    .links-container .close-sidebar {
        margin-right: auto;
        padding: 20px 20px;
    }

    nav .links-container {
        position: fixed;
        top: 0;
        left: 0;

        transition: .5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0;
        margin: 0;

        left: 100%;

        width: 100%;
        height: 100vh;
        background-color: #09265c;
    }

    nav .links-container a:nth-child(2) {
        width: 0%;
    }

    nav .links-container a {
        width: 100%;

    }

    .up-button {
        right: 20px;
        bottom: 20px;
    }

    /*Conference Fees*/
    .card-container,
    #Research-Category-Section .content,
    #Extension-Category-Section .content,
    #Collaborating-Organizations-Section .icons-container,
    .icons-container * {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .section-title,
    .section-secondary-title,
    .sub-title,
    section .content,
    .content>div {
        width: 90%;
    }

    .section div {
        padding: 0px;
    }



    /*card*/
    h2 {
        font-size: 1.5rem;

    }

    h3 {
        font-size: 1.8rem;
    }

    .card p {

        font-size: 1.2rem;


    }

    .card * {
        padding: 0px 10px;
    }

    .card-container {
        width: 85%;
        margin: 20px;
    }

    .Abstract-Submission .submission-title {
        font-size: 1.2rem;
    }

    .qr-code {
        max-width: 200px;
        max-height: 200px;
    }

    .footer-social-links{
        gap: 30px;
    }
    .Members-List{
        padding: 20px;
    }
    
}
